body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h5 {
	margin: 0;
	padding: 5px;
	padding-bottom: 0;
	font-weight: 500;
}

.card.list {
	max-width: 250px;
}

.control {
	width: 80vw;
	padding: 20px;
}

.board {
	width: 80vw;
	height: 80vh;
	padding: 20px;
	border-radius: 8px;
	background-color: beige;
	display: grid;
	justify-content: start;
	gap: 20px;
	grid-auto-flow: column;
}

.card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card-header > h5 {
	flex-grow: 1;
}

.card-body {
	padding: 5px;
}

.card-text {
	margin: 0;
}

.todo {
	margin: 5px;
	border: 1px solid rgb(228, 228, 228);
}

.todo-info {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 5px;
}

p.card-text {
	justify-self: flex-start;
	margin: 0;
	flex-grow: 1;
	font-size: 20px;
}

.form-check-input {
	margin-top: 0;
	width: 2em;
	height: 2em;
}

button.delete {
	width: 2.3em;
	height: 2.3em;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

button.addToDo {
	margin: 5px;
}

svg {
	width: 1.6em;
	height: 1.6em;
}

.priority-low {
	border-left: 15px solid yellowgreen;
}

.priority-medium {
	border-left: 15px solid rgb(226, 215, 56);
}

.priority-high {
	border-left: 15px solid rgb(205, 50, 50);
}
